<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>春江花月社区</string>
	<string>临平桂花城小区</string>
	<string>同人春江时代</string>
	<string>名城燕园</string>
	<string>嘉泰馨庭</string>
	<string>桂花星城</string>
	<string>浦沿新村</string>
	<string>白金海岸</string>
	<string>凯德视界</string>
	<string>凯德龙湾</string>
	<string>金田花园</string>
	<string>景上公寓</string>
	<string>东海名仕家园</string>
	<string>万家花城</string>
	<string>同人精华大厦</string>
	<string>紫金港湾</string>
	<string>丽阳苑</string>
	<string>金都城市芯宇</string>
	<string>同人广场</string>
	<string>万家花城二期</string>
	<string>中豪晴园</string>
	<string>光辉岁月公寓</string>
	<string>橡树园</string>
	<string>浙商财富中心</string>
	<string>钱塘名都</string>
	<string>锦昌文华</string>
	<string>锦昌文华二期</string>
	<string>江南豪园</string>
	<string>钱塘景苑</string>
	<string>贺田尚城</string>
	<string>滨文苑</string>
	<string>万家星城三期</string>
	<string>天河西苑</string>
	<string>东方丽都</string>
	<string>日信国际</string>
	<string>万家星城一期</string>
	<string>万家星城二期</string>
	<string>岸上蓝山</string>
	<string>东方君悦</string>
	<string>中兴和园</string>
	<string>水岸枫庭</string>
	<string>西瑞大厦</string>
	<string>三江花园</string>
	<string>香槟之约园</string>
	<string>凯旋门</string>
	<string>华门世家</string>
	<string>天阳美林湾二期</string>
</array>
</plist>
